#top-bar 
{
	height:36px;
	width:100%;
	background:url(../images/top_bar_bg.png) repeat-x;
}

#top-bar, #top-bar a
{
	vertical-align: middle;
	color:#898989;
	font-size:14px;
}

#top-bar .col-1 
{
	height:100%;
}

#top-bar span
{
	line-height:35px;
}

#top-bar span *, .logo
{
	vertical-align: middle;
}

#top-bar .left img {
	margin-right:10px;
}

#top-bar .right a:hover {
	color:#ccc;
}

#top-bar .right img {
	margin:auto 10px;
}

#logo
{
	height:130px;
}

#logo .logo
{
	width:585px;
	float:left;
}

#logo .lang
{
	float:right;
	display:inline;
	margin-top:40px;
	width:400px;
	height:90px;
	text-align:right;
}

#logo .lang a 
{
	margin-left:10px;
}

#navi
{
	width:100%;
	height:70px;
	background:url(../images/navi_bg.png) repeat-x;
}

#navi .col-1
{
	height:100%;
	position:relative;
}

#navi li 
{
	height:100%;
	float:left;
	list-style:none;
}

#navi li  a
{
	color:#fff;
	display:block;
	text-align:center;
}

#navi .col-1 li  a
{
	width:127px;
	height:46px;
	padding-top:24px;
	font-size:14px;
}

#navi .col-1 li  a:hover
{
	background:url(../images/navi_hover.png) no-repeat;
}

#navi .col-1 li  ul 
{
	position:absolute;
	background:#ccc;
	z-index:1000;
	display:none;
}

#navi .col-1 li  ul  li
{
	float:none;
}

#navi .col-1 li ul  li a
{
	height:30px;
	padding:12px 5px 0 5px;
	width:auto;
	min-width:117px;
}

#navi .col-1 li ul  li a:hover
{
	background:#fff;
	color:#ccc;
}