
#main .page-content table
{
    margin:0 auto;
}

/**
knowledge
 */
#main .page-content .content-list {
    margin: 0 auto;
    width: 1100px;
    list-style-image: url(../images/list_dote.png);
}

#main .page-content .content-list li a {
    width:100%;
    font-size:14px;
    display:block;
    line-height:30px;
}

#main .page-content .content-list li a:hover
{
    color:#0079d2;
}

#main .page-content .content-list li span{
    float: right;
}


/**
tools search
 */
#airportSearch {
    text-align: center;
    margin-bottom: 20px;
}

#airportSearch label{
    margin-right: 10px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
}

#airportSearch input[type='text']{
    height: 37px;
    border-radius: 10px;
    outline:none;
}

#airportSearch .submit
{
    width:73px;
    height:37px;
    background:url(../images/btn.png) no-repeat;
    color:#fff;
    margin-left:15px;
    outline: none;
}

/**
contact page
 */
#main .page-content
{
    padding:20px;
    border:#999 solid 1px;
    margin-top:20px;
    line-height:30px;
    background:#fff;
}